<div class="list-group navigation col-lg-2 col-md-2 col-sm-2 col-xs-12" ng-controller="NavbarCtrl">
  <a href="" class="list-group-item active">
    JagerGin Admin
  </a>
  <a ng-click="goTo('products-list')" class="list-group-item"><i class="fa fa-list-alt"></i> Productos</a>
  <a ng-click="goTo('products-spec-list')" href="" class="list-group-item"><i class="fa fa-list-alt"></i> Especificaciones</a>
  <!--<a ng-click="goTo('shipping-list')" href="" class="list-group-item"><i class="fa fa-truck"></i> Shipping Classes</a>-->
  <a ng-click="goTo('categories-list')" class="list-group-item"><i class="fa fa-folder-o"></i> Categorias</a>
  <a ng-click="goTo('orders-list')" class="list-group-item"><i class="fa fa-cart-arrow-down"></i> Pedidos</a>
  <a ng-click="goTo('setting')" class="list-group-item"><i class="fa fa-user"></i> Ajustes de cuenta</a>
  <!--<a ng-click="goTo('products-spec-list')" href="" class="list-group-item"><i class="fa fa-list-alt"></i> Import WooComerce</a>-->
  <a ng-click="logout()" class="list-group-item"><i class="fa fa-sign-out"></i> Salir</a>
</div>
